.hero-container {
    display: flex;
    align-items: center;
    position: relative;
    gap: 5%;
  }

  .hero-container::after,.hero-container::before{
    content: " ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(225px);
  }

  .hero-container::after
  {
    top: 0rem;
    left: -5rem;
  }

  .hero-container::before{
    bottom: -2rem;
    right: -5rem;
  }
  
  .hero-content {
    flex: 1;
    margin-top: 10px;
  }
  
  .hero-content h2 {
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 1rem;
  }
  
  .hero-content p {
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
  }
  
  .hero-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 20px;
  }

  .hero-img>div{
    display: flex;
    align-items: flex-end;
    gap: 2rem;
  }

  .hero-img>div>img{
    transition: all 0.3s ease;
  }

  .tech-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .tech-icon img{
    height: auto;
    transition: all 0.3s ease;
  }

  .hero-img>div>img:hover,.tech-icon img:hover{
    transform: translateY(-0.5rem);
  }
  
  
  

